.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.picker-error {
  border: 1px solid #db2828;
  border-radius: 5px;
}

.picker-valid {
  border: 1px solid #21ba45;
  border-radius: 5px;
}

.ui.table td.active, .ui.table tr.active {
  background-color: #52cb31 !important;
}

.button.basic.positive.hover:hover {
  background-color: #21ba45 !important;
  color: white !important;
}


.button.basic.blue.hover:hover {
  background-color: #2185d0 !important;
  color: white !important;
}

#isDelivery.menu .item.active {
  background-color: #F99C59A6;
}
